.dialog-input {
  padding: 12px;
  width: 90%;
  border-radius: 7px;
  border: 2px solid #a5500f;
  &::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 14px;
    color: #d65d18;
  }
}